apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{{ ingress_name }}}
spec:
  rules:
  - http:
      paths:
      - path: /
        backend:
          serviceName: {{{ service_name }}}
          servicePort: 2348